<footer class="footer">
  <div class="footer-content">
    <p>&copy; 2024 ShortUrl.at - Tool to shorten a long link</p>
    <nav class="footer-links">
      <a href="{% url 'url:create_short_url' %}">ShortURL</a> |
      <a href="{% url 'url:track_short_url' %}">URL Click Counter</a> |
      <a href="{% url 'url:unshorten_url' %}">Unshorten URL</a> |
      <a href="#">Report Malicious URL</a> |
      <a href="#">Terms of Service</a> |
      <a href="#">Privacy</a> |
      <a href="#">Contact</a>
    </nav>
  </div>
</footer>