{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="card">
            <h2>Unshorten URL</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="input-group">
                    {{ form.url }}
                    <button type="submit">Unshorten</button>
                </div>
            </form>
            {% if debug %}
                <p style="text-decoration: underline; color: #111116"><b>Example: </b>http://{{ domain_name }}/abc123</p>
            {% else %}
                <p style="text-decoration: underline; color: #111116"><b>Example: </b>https://{{ domain_name }}/abc123</p>
            {% endif %}            
        </div>
    </div>
    <div class="description2">
        Enter the URL to track how many clicks it received.<br>
        Track the total hits of the shortened URL in real time, you do not have to register.
    </div>
{% endblock %}